body {
    background-image: url('mahadev-wallpaper-1366x768.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
} 

h1 {
    color: rgb(0, 0, 0);
} 

h2 {
    color: rgb(0, 0, 0);
}
